@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --body-color: linear-gradient(145deg, #5d8347 20%, #828247 80%);
    --type-color: linear-gradient(145deg, #4d723d 20%, #72713d 80%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body, #__next {
    height: 100%;
    width: 100%;
}

.orange__button {
    background-color: orangered;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.site {
    height: 100%;
    width: 100%;
    background: var(--body-color);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

.site__wrapper {
    width: 968px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
}

.site__menu {
    padding-top: 24px;
    height: 80px;
    width: 964px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    .menu__logo {
        font-size: 24px;
        color: white;
        font-weight: 700;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;

        .logo__text {
            display: inline-block;
            margin-left: 24px;
        }
    }

    .menu__list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;

        a {
            color: white;
            text-decoration: none;
            cursor: pointer;
            font-size: 18px;
            margin-left: 24px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.site__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
}

.site__slider {
    height: 460px;
    width: 100%;

    .slider__list {
        width: 100%;
        height: 460px;

        .slider__block {
            width: 100%;
            height: 460px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;

            .block__info {
                width: 460px;
                .info__title {
                    color: white;
                    font-size: 56px;
                    font-weight: 900;
                    line-height: 109%;
                    margin-bottom: 32px;
                }
                .info__description {
                    color: white;
                    font-size: 20px;
                    line-height: 109%;
                    margin-bottom: 32px;
                    opacity: .75;
                }
            }
        }
    }
    .slider__menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        
        .menu__mark {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: white;
            opacity: .5;
            cursor: pointer;
            transition: opacity ease .25s;
            margin: 0 4px;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.category__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 40px;
}

.category__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.category__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item_image {
    margin-bottom: 20px;
}

.item__title {
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.item__text{
    color: white;
    font-size: 16px;
}

.block__info2 {
    width: 460px;
    .info__title {
        color: white;
        font-size: 56px;
        font-weight: 900;
        line-height: 109%;
        margin-bottom: 32px;
    }
    .info__description {
        color: white;
        font-size: 20px;
        line-height: 109%;
        margin-bottom: 32px;
        opacity: .75;
    }
}

.block__info3 {
    width: 460px;
    .info__title {
        color: white;
        font-size: 56px;
        font-weight: 900;
        line-height: 109%;
        margin-bottom: 32px;
    }
    .info__description {
        color: white;
        font-size: 20px;
        line-height: 109%;
        margin-bottom: 32px;
        opacity: .75;
    }
}

.block__info2, .block__info3, .block__image2, .block__image3 {
    display: none;
}

.site__about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about__title {
    color: white;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 48px;
}

.about__text {
    color: white;
    font-size: 16px;
    margin-bottom: 32px;
}

.about__button {
    max-width: 150px;
}

.candy__block {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.candy__title {
    color: white;
    font-size: 48px;
    align-items: center;
}

.candy__types {
    display: flex;    
}

.candy__type {
    width: 210px;
    background: var(--type-color);
    display: flex;
    flex-direction: column;
    margin: 15px;
    align-items: center;
    border-radius: 15px;
}

.candy__name {
    color: white;
    font-size: 24px;
}

.candy__typename {
    color: rgb(135, 135, 135);
    font-size: 14px;
    padding-bottom: 10px;
}

.candy__price {
    color: white;
    font-size: 16px;
    padding-bottom: 10px;
}

.arrivals__block {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.arrivals__title {
    color: white;
    font-size: 48px;
    margin-bottom: 30px;
    align-items: center;
}

.arrivals__types {
    display: flex;    
}

.arrivals__type {
    position: relative;
    width: 300px;
    background: var(--type-color);
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    border-radius: 15px;
}

.arrivals__img {
    padding-top: 20px;
}

.arrivals__name {
    color: white;
    font-size: 24px;
}

.arrivals__typename {
    color: rgb(135, 135, 135);
    font-size: 14px;
    padding-bottom: 10px;
}

.arrivals__price__block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
}

.arrivals__price {
    color: white;
    font-size: 16px;
    padding-bottom: 10px;
}

.arrivals__end {
    margin-left: 10px;
    color: orangered;
    font-size: 14px;
}

.arrivals__new {
    position: absolute;
    left: 30px;
    top: 30px;
    background-color: orangered;
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
}